@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
        Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    --size-11: 0.6875rem;
    --size-12: 0.75rem;
    --size-13: 0.8125rem;
    --size-14: 0.875rem;
    --size-16: 1rem;
    --size-17: 1.0625rem;
    --size-18: 1.125rem;
    --size-20: 1.25rem;
    --size-22: 1.375rem;
    --size-24: 1.5rem;
    --size-28: 1.75rem;
    --size-30: 1.875rem;
    --size-32: 2rem;
    --size-37: 2.3125rem;
    --size-40: 2.5rem;
    --size-45: 2.8125rem;
    --size-50: 3.125rem;
    --size-55: 3.4375rem;
    --size-70: 4.375rem;
    --color-grey-0: #292d34;
    --color-grey-1: #7c828d;
    --color-grey-2: #b9bec7;
    --color-grey-2-opacity-40: rgba(185, 190, 199, 0.4);
    --color-grey-3: #e9ebf0;
    --color-grey-4: #fafbfc;
    --color-white: #fff;
    --color-black: #000;
    --color-pink: #eb3dae;
    --color-pink-dark: #de1798;
    --color-red: #fd7171;
    --color-blue: #5bc5fa;
    --color-cyan: #49ccf9;
    --color-green: #6bc950;
    --color-teal: #5cc0bf;
    --color-teal-light: #8afcde;
    --color-yellow: #f7ce51;
    --color-yellow-dark: #f5cd51;
    --color-brand: #7b68ee;
    --color-purple: #7b42d1;
    --color-purple-dark: #8041d0;
    --color-background: #fafbfc;
    --color-brand-facebook: #3b5998;
    --color-brand-instagram: #c32aa3;
    --color-brand-linkedin: #0077b5;
    --color-brand-twitter: #1da1f2;
    --color-brand-youtube: red;
    --color-success: var(--color-green);
    --color-error: var(--color-red);
    --bg-main: var(--color-grey-4);
    --bg-secondary: var(--color-white);
    --easing-natural: cubic-bezier(0.5, 0, 0.5, 1);
    --easing-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --easing-in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --easing-out: cubic-bezier(0.165, 0.84, 0.44, 1);
    --easing-in-out: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    --transition-long: 0.5s var(--easing-natural);
    --transition-short: 0.25s var(--easing-natural);
    --transition-long-bounce: 0.5s var(--easing-bounce);
    --transition-short-bounce: 0.25s var(--easing-bounce);
}
/* Add these CSS classes to your stylesheets */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}

.fade-entering {
    animation: fade-in 0.3s ease-in-out forwards;
}

.fade-exiting {
    animation: fade-out 0.3s ease-in-out forwards;
}

.progress-bar-stripes {
    background-image: linear-gradient(
        45deg,
        rgba(254, 255, 156, 0.3) 25%,
        transparent 25%,
        transparent 50%,
        rgba(254, 255, 156, 0.3) 50%,
        rgba(254, 255, 156, 0.3) 75%,
        transparent 75%,
        transparent
    );
    background-size: 1rem 1rem;
    animation: progress-bar-stripes 1s linear infinite;
}

.main__decoration {
    @apply blur-[150px]
        h-[1140px]
        overflow-hidden 
        absolute 
        top-[-360px] 
        w-[1140px] 
        z-[-2] 
        rounded-[50%] 
        right-0 
        after:bg-[conic-gradient(from_45deg_at_50%_50%,var(--conic-1,var(--color-pink)),var(--conic-2,var(--color-yellow)),var(--conic-2,var(--color-yellow)),var(--conic-3,var(--color-blue)),var(--conic-3,var(--color-blue)),var(--conic-4,var(--color-purple)),var(--conic-4,var(--color-purple)),var(--conic-1,var(--color-pink)))] 
        after:content-[""] 
        after:block 
        after:h-[1140px] 
        after:opacity-[var(--conic-opacity,0.7)] 
        after:overflow-hidden 
        after:rotate-[var(--conic-rotate,0deg)] 
        after:w-[1140px] 
        after:will-change-transform 
        after:rounded-[50%];
    -webkit-filter: blur(150px);
}
@media (max-width: 900px) {
    .main__decoration {
        @apply blur-[80px] 
        h-[900px] 
        top-[-300px] 
        w-[900px] 
        after:h-[900px] 
        after:w-[900px];
        -webkit-filter: blur(80px);
    }
}
@media (max-width: 600px) {
    .main__decoration {
        @apply h-[600px] 
        top-[-100px] 
        w-[600px] 
        after:h-[600px] 
        after:w-[600px];
    }
}
.main__decoration:after {
    --conic-opacity: 0.3;
    -webkit-transform: rotate(var(--conic-rotate, 0deg));
}
