@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these CSS classes to your stylesheets */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}

.fade-entering {
    animation: fade-in 0.3s ease-in-out forwards;
}

.fade-exiting {
    animation: fade-out 0.3s ease-in-out forwards;
}

.progress-bar-stripes {
    background-image: linear-gradient(
        45deg,
        rgba(254, 255, 156, 0.3) 25%,
        transparent 25%,
        transparent 50%,
        rgba(254, 255, 156, 0.3) 50%,
        rgba(254, 255, 156, 0.3) 75%,
        transparent 75%,
        transparent
    );
    background-size: 1rem 1rem;
    animation: progress-bar-stripes 1s linear infinite;
}
